* {
    box-sizing: border-box;
    margin:auto;
}


body { 
	width: 80%;
	background-color: #DDDAD5;
	font-family: verdana;
    text-align: center;
    margin:auto;
 }

ul {
    text-align: left
}

.header {
	background-color: #C9B48C;
	font-size:20px;
	padding:8px;
	border-top-left-radius: 25px
	border-bottom-right-radius: 25px;
}

.navigation {
    background-color: #ADD8E6;
    padding:8px;
    font-size: 10px;
}

.content {
	background-color: #FFF7EF;
    font-size: 11px;
    padding:30px;
}

.footer {
	background-color: #ADD8E6;
    font-size: 10px;
	padding-top:10px;
	padding-bottom: 10px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.cupcake {
	width:90px;
	height:90px;
	border: 4px #E7B2C1 dotted;
	border-radius: 15px;
    padding: 10px;
}

.flex-container {
	padding-top: 0px;
	margin-top: 10px;
	display:flex;
	height: 80px;
	width:250px;
    text-align: left;
    vertical-align: middle;
}
