  body {
    background-image: url("imgs/fabric.jpg");
    margin:0 auto;
  }

  ul {
    list-style-type: none;
  }

  .header {
    background-image: url("imgs/italian.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 270px;
    text-align: center;
    overflow:hidden;
    border-bottom: 5px white;
  }

  .header h1 {
    color: white;
    font-family: 'Dancing Script',cursive;
    font-size: 120px;

  }
  .topnav a {
    color:white;
    font-family: 'Rokkitt', serif;
    font-size: 25px;
    padding:6px 25px;
    text-decoration: none;
  }
  .topnav a:hover {
    color: black;
    background-color: #f5f5f5;
  }



  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width:85%;
    padding: 20px;
    margin:0 auto;
    margin-top:25px;
  }

  .recipecards {
    background-color:white;
    text-align: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 black;
    width: 300px;
    height: 350px;
  }
  .recipecards:hover {
    transition: all 0.3s ease-out;
    border: 2px solid black;
    background-color: black;
  }


   .icon {
    justify-content: center;
    margin: 0 auto;
    width:20px;
   }

   .card-body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:100%;
   }

  .conversions {
    text-align: center;
  }

  .recipe {
    font-family: 'Inconsolata', monospace;
    background-color:white;
    text-align: center;
    width: 600px;
    margin:0 auto;
    padding:50px;
    margin-top: 20px;
  }

  .recipe img {
    width:500px;
  }

  .ingredients {
    width:400px;
    margin:0 auto;
  }

  .resourceimagelist {
    font-family: 'Inconsolata', monospace;
    background-color: lightgrey;
    width:80%;
    text-align:center;
    margin:0 auto;
    margin-top: 10px;
  }

  .sourceslist {
    width:400px;
    margin:0 auto;
  }







    @media only screen and (max-width: 600px) {

     body { 
      margin: 0 auto;

     }

     .header {
       height: 450px;

     }

     .header h1 {
       font-size: 80px;
     }

     .topnav a {
       display: flex;
       flex-direction: column;
       font-size: 25px;
       padding: 10px 20px;
     }

    .container {
       display: flex;
       align-items: center;
       flex-direction: column;
       padding: 0px;
       margin-top: 15px;
     }

     .recipecards {
       text-align: center;
       padding: 5px 5px;
       margin: 10px;
       box-shadow: 0 4px 8px 0 black;
       width: 400px;
       height: 500px;
     }

     .resourceimagelist {
      width:90%;
     }

     .recipe {
      width:400px;
     }

     .recipe img {
      width:400px;
     }



}
